@font-face {
  font-family: 'android_assassinitalic';
  src: url('fonts/androidassassinitalic-eddp-webfont.woff2') format('woff2'),
       url('fonts/androidassassinitalic-eddp-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'android_assassinitalic', Roboto, sans-serif;
  letter-spacing: 2px;
  color: white;
  background-image: url(images/galaxy-background.jpg);
  background-color: black;
  margin: 0;
}

body.game-over .overlay-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.92;
}

.game-over-modal {
  text-align: center;
}

.game-over-heading {
  margin: 15px;
}

.reset-btn {
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 20px;
  height: 50px;
  width: 200px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  transition: .07s;
  margin-top: 10px;
}

.reset-btn:hover {
  box-shadow: 0 0 .3rem white;
}

.hide {
  display: none;
}

header {
  margin-bottom: auto;
}

#logo {
  font-size: 40px;
  text-shadow: 2px 2px #d13232;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.main-heading {
  font-size: 35px;
  text-shadow: 0 0 .8rem #c7b61f;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 170px;
  width: 170px;
  border: 5px solid white;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transition: .07s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 .3rem white;
}

img {
  height: 120px;
  filter: drop-shadow(0 0 7px crimson);
  z-index: -1;
}

.rock-img {
  width: 80px;
}

.round-result {
  margin: 30px 0 0;
  text-shadow: 0 0 .4em crimson;
}

.score-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-shadow: 0 0 1rem #1f3ec7;
}

.score-label {
  font-size: 35px;
  margin: 20px 0;
  border-bottom: 3px solid white;
  line-height: .95em;
}

.round {
  margin: 0 0 13px;
  font-size: 30px;
}

.score-results {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.score-results .score {
  margin: 0;
  font-size: 25px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  .game-over-heading {
    font-size: 28px;
    margin: 15px 10px;
  }

  .reset-btn {
    font-size: 18px;
    height: 45px;
    width: 180px;
    border: 2px solid white;
    border-radius: 14px;
  }

  #logo {
    font-size: 35px;
  }

  .main-heading {
    font-size: 28px;
  }

  .buttons {
    gap: 8px;
  }

  .btn {
    font-size: 15px;
    gap: 4px;
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 12px;
  }

  img {
    height: 70px;
  }

  .rock-img {
    width: 50px;
  }

  .round-result {
    font-size: 18px;
    text-shadow: 0 0 .3em crimson;
  }

  .score-label {
    font-size: 26px;
    border-bottom: 2.5px solid white;
  }

  .round {
    font-size: 23px;
  }

  .score-results .score {
    font-size: 20px;
  }
}

@media only screen and (max-width: 581px) {
  .score-content {
    margin-top: 25px;
  }
}